/* headers */
h1
{
    background-color: white;
    border-bottom:5px dotted black;
    width:fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
h2
{
    background-color: rgb(255,250,240);
    margin:20px 20px 20px 0px;
    padding:10px 20px 10px 20px;
    width: fit-content;
    height: fit-content;
    border-bottom: 2px dotted black;
}
h3,h4
{
    text-decoration: underline black;
    width: fit-content;
    padding: 5px;
}
/* flexbox for gifs */
.gif-box
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* gif size */
.work
{   
    max-width: auto;
    max-height: auto;
    margin:20px;
}
/* border and backgroundfor agenda */
.agenda 
{
    background-color: #FFF0F5;
    border-width: 5px; 
    border-style: solid; 
    border-color: #660000;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
/* agenda list */
.a-list
{
    padding-top: 20px;

}

/* attendance box display*/
.atten-box
{
    display:flex;
    justify-content:center;
    column-gap: 30px;
}
.attendance
{
    border: 5px solid black;
    border-radius: 1em;
    width: 400px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin:auto;
}

/* introduction box */
.intro-box
{
    display:flex;
}
.intro
{
    position:static;
    border: 1vw solid lightgrey;
    margin: 1cm 3cm 1cm 6cm;
    padding: 20px 20px 20px 20px;
    max-width: 50vw;
    max-height: 10vh;
    min-width: 20vw;
    display:inline-block;
}
.usagy-gif
{
    position:sticky;
    top: 20px;
    right:20px;
    width: 100px;
    height: 100px;
}

/* color grid */
.color
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 10px;
}
.color-grid
{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding:10px;
    padding-left: 5px;
}
/* font of each item in grid */
.grid-item
{
    border: 1px solid black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
/* make background of color grid white*/
div button
{
    background:white;
}
/* padding and display for favorite drink fieldset*/
fieldset > div
{
    padding-top:10px;
    padding-bottom:10px;
}
.drink
{
    text-decoration: underline black;
    display: inline-block;
}
.water-drink
{
    color: midnightblue;
    display: inline-block;
    padding-top: 2mm
}
.tea-drink
{
    color: darkgreen;  
}
div[class~="tea-drink"]
{
    padding-top: 2mm;
}
.coffee-drink
{
    color: #663300;
    padding-top: 2mm;
}
.juice-drink
{
    display: none;
}

/* padding for additional comments and submit area*/
textarea + div
{
    padding-top:10px;
    padding-bottom:10px;
}

form~div
{
    padding-top: 20px;
    padding-bottom:10px;
}
.addcomm
{
    padding-top:10px;
    padding-bottom:10px;
}

div.submit
{
    border: 5px solid #CCE5FF;
    width:fit-content
}

/* padding and font for relaxing video */
*.relax
{
    height: 5rem;
    width: 5em;
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
}

.waterfall
{
    padding-top:20px;
    padding-bottom:20px;
}

/* set position for me */
.me
{
    position:relative;
    bottom:15px;
}

/* pseudo-class for button */
button:hover
{
    background-color:lightgray;
}

button:active
{
    background-color: darkgray;
}

/* Media query for width */
@media (max-width:700px)
{
    .usagy-gif
    {
        position:static;
    }
    .intro
    {
        margin:auto;
    }
}